body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

header {
    background: darkred;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #bf3030;
}

footer {
    text-align: center;
    margin-top: 20px;
}

.highlight {
    background-color: whitesmoke; 
    padding: 5px; 
    border-radius: 5px; 
}

.footer-text {
    font-style: italic; 
}